/* classes techniques et généralités */

@font-face {
    font-family: "Hades";
    src: url(../font/HADES.otf);
}

html{
    scroll-behavior: smooth;
}

.container {
    width:90%;
    margin:50px auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

h2, h3, a, h4{
    font-family: "Hades", serif;
}


h2{
    font-size: 4rem;
    text-align: center;
    background-color: black;
    color: white;
}

h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: white;
    text-align: center;
}

img{
    width:100%;
    height: auto;
}

.w45{
    width:45%;
}

.w30{
    width: 30%;
}

.w10{
    width: 5%;
}

li{
    list-style-type: none;
}

p{
    font-size: 2rem;
}

/* header */

header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/wall.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

header nav{
    position: relative;
    background: #000;
    display: flex;
    justify-content: end;
    padding-right: 10%;
}

header img{
    width: 25%;
    position: absolute;
    top:-2vh;
    left:5%;
}

header nav ul{
    width: 7%;
    padding: 2vh auto;
}

header nav li{
    list-style-type: none;
    margin: 1rem auto;
    height: 0.5rem;
    width: 100%;
    background-color: red;
}

a{
   color: red;
   text-decoration: none;
   font-size: 2rem;
}

/* main */

main{
    margin-top: 0vh;
    position: relative;
}

main h2{
    padding-top: 3vh;
    padding-bottom: 3vh;
}

main h3{
    justify-content: center;
}

main img{
    width: 32%;
}

main #zagreus img, main #hades img{
    width: 26.5%;
}

main #hades img{
    width: 30%;
}

#zagreus, #hades, #thanatos, #megaera{
    position: relative;
}

#zagreus img, #thanatos img{
    position: absolute;
    bottom: 0;
    left: 10vh;
}

#hades img, #megaera img{
    position: absolute;
    bottom: 0;
    right: 10vh;  
}

section#zagreus, section#hades, section#thanatos, section#megaera{
    background-color: brown;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

section#hades{
    background-color: yellow;
}

section#thanatos{
    background-color: gray;
}

section#megaera{
    background-color: blue;
}

#zagreus div.w45, #thanatos div.w45{
    margin-left: auto;
}

#zagreus p, #thanatos p{
    margin-right: 10%;
    text-align: right;
    color: yellow;
}

#zagreus h3{
    color: yellow;
}

#thanatos p, #thanatos h3{
    color: pink;
}

#hades p, #megaera p{
    margin-left: 10%;
    text-align: left;
    color: brown;
}

#hades h3{
    color: brown;
}

#megaera p, #megaera h3{
    color: white;
}

h4{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 60%;
    background-color: white;
    color: red;
    border-radius:10px;
    font-size:2rem;
}

footer figure{
    gap:4rem;
    overflow: visible;
}

footer div.w30 {
    overflow: visible;
}

footer div.w30:first-of-type{
    background-image: url(../img/Athena.png);
    background-size: contain;
    background-position: bottom center;
    height: 30vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer div.w30:first-of-type h4{
    background-color: rgb(179, 144, 255);
    color: rgb(250, 250, 106);
}

footer div.w30:nth-of-type(2){
    background-image: url(../img/Zeus.png);
    background-size: contain;
    background-position: bottom center;
    height: 30vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer div.w30:nth-of-type(2) h4{
    background-color: rgb(250, 250, 106);
    color: rgb(98, 79, 79);
}

footer div.w30:nth-of-type(3){
    background-image: url(../img/Artemis.png);
    background-size: contain;
    background-position: bottom center;
    height: 30vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer div.w30:nth-of-type(3) h4{
    background-color: rgb(65, 98, 56);
    color: white;
}

footer div.w30:nth-of-type(4){
    background-image: url(../img/Demeter.png);
    background-size: contain;
    background-position: bottom center;
    height: 30vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer div.w30:nth-of-type(4) h4{
    background-color: rgb(188, 237, 233);
    color: rgb(98, 79, 79);
}

footer div.w30:nth-of-type(5){
    background-image: url(../img/Poseidon.png);
    background-size: contain;
    background-position: bottom center;
    height: 30vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

footer div.w30:nth-of-type(5) h4{
    background-color: rgb(112, 186, 128);
    color: black;
}

footer div.w30:nth-of-type(6){
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 30vh;
    border-radius: 50px 50px 0 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
    gap:1rem;
}

footer div.w30:nth-of-type(6) h4{
    background-color: red;
    color:white;
}

/* footer */

footer{
    height: 100vh;
    background-image: url(../img/fond2.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* Règles pour compatibilité tablettes et smartphones */

/* media query mobile */

@media screen and (max-width:450px){

    header nav{
        background: #cbc81c;
    }

    header img{
        width: 35%;
        top:2vh;
    }

    header nav ul{
        width: 15%;
        padding: 1vh auto;
    }

    header nav li{
        background-color: rgb(53, 37, 37);
    }

    .container, .container2{
        width:90%;
        margin:20px auto;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: blue;
    }

    h2{
        font-size: 2rem;
        text-align: center;
        background-color: black;
    }

    h3{
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
        font-size: 3rem;
        color: red;
        text-align: center;
    }

    /*header mobile*/

    header{
        height: 80vh;
        background-image: url(../img/zagreus2.png);
        background-color: yellow;
        background-position: bottom center;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }
    
    /*body mobile*/

section#zagreus, section#hades, section#thanatos, section#megaera{
        padding-top: 2vh;
        padding-bottom: 0vh;
}

main section article{
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 80vh;
}

section#hades article, section#thanatos article{
    height: 70vh;
}

main section article div.w45{
    margin-left: 5%;
    margin-right: auto;
}

#zagreus article{
    background-image: url(../img/zagreus.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

#hades article{
    background-image: url(../img/hades.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

#thanatos article{
    background-image: url(../img/Thanatos.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 0;
    padding: 0;
}

#zagreus article div.w45 p, #hades article div.w45 p, #thanatos article div.w45 p {
    display: none;
}

#zagreus img, #hades img, #thanatos img{
    display: none;
}

#zagreus article div.w45, #hades article div.w45, #thanatos article div.w45 {
    width: 90%;
}

#megaera img{
    display: none;
}

#megaera div.w45{
    width: 90%;
    padding-bottom: 5vh;
}

    /*footer mobile*/
    footer{
        display: none;
    }
}